
* {
  box-sizing: border-box;
}

html {
  background: cornsilk;
}

body {
  margin: 0;
}

header {
  /* margin: 10px 0 0 10px; */
  /* border-right: solid darkblue 2px;
  border-left: solid darkblue 2px; */
  background: linear-gradient(0deg, cornsilk, 25%, transparent),
              url('img/gardening.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 5px;
  /* padding-bottom: 12%; */
  position: relative;
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;

}

ul {
  list-style: none;
  padding-left: 0;
}

.main-title {
  text-align: left;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  padding: 2px;
  width: 100%;
  color: white;
  text-shadow: 4px 4px 5px #333;
}

nav {
  font-family: 'Questrial', sans-serif;
}

ul li  {
  background: linear-gradient(to bottom, rgba(0,128,0,.60), 85%, transparent);
  border-left: solid darkblue 1px;
  text-align: center;
  border-radius: .5em;
}

a {
  display: block;
  color: gold;
  text-decoration: none;
  padding: 8px 15px 8px 15px;
  margin: 0;
}

main {
  margin-bottom: 100px;
}

.ex {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  image-orientation: from-image;
}

/********************** FONTS **********************************/

h1 {
	font-family: 'Questrial', sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22.5px;
}

h2 {
  font-family: 'Questrial', sans-serif;
	font-size: 2.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}

h3 {
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: 'Questrial', sans-serif;
  text-align: left;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.5em;
}

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, cornsilk, 25%, transparent),
              url('img/gardening.jpg');
  padding: 30px;
  background-position: top;
  background-size: cover;
  /* margin-top: 100px; */
  color: gold;
}
/********************************* END FONTS ******************************************/

/* Class Selectors */
.primary-content {
  text-align: left;

}

.secondary-content {
  text-align: left;
}

.phil,
.aloe {

}

.phil {
  margin-bottom: 60px;
}

.title {
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto 100px auto;
}

/* COLUMNS DISPLAY */
/* .col {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  vertical-align: top;
} */
/* ID Selectors  */

#philodendron {
  width: 80%;
  display: block;
  margin-bottom: 1.876em;
  /* border: solid darkblue 2px; */
  border-radius: 20px;
  box-shadow: 0px 15px 20px 0px #222;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

#aloevera {
  width: 80%;
  /* border: solid darkblue 2px; */
  border-radius: 20px;
  box-shadow: 0px 15px 20px 0px #222;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* HOVER RULES */

a:hover {
  color: yellow;
}

li:hover {
  background-color: rgba(0, 155, 0, .40);

}

/* FLEXBOX */
/* .flex {
  display: flex;
} */
/* Media Querys  */

@media (min-width: 500px){
  /* .main-nav {
    display: flex; */

  /* } */
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 5%;
  }

  .main-title {
    margin: auto;
    font-size: 2.25em;
    padding-left: 2%;
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .ex {
    font-size: 1.6em;
    padding-top: 2%;
  }


}
@media (min-width: 740px){
/* COLUMNS DISPLAY */
 .col {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  vertical-align: top;
}
}
