
/* ------------------------------------ ELEMENT SELECTORS -------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  background: cornsilk;
}

header {
  background: linear-gradient(0deg, cornsilk, 25%, transparent), /*FADE EFFECT ON MAIN HEADER*/
              url('img/gardening.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 5px;
  position: relative;
}

ul {
  list-style: none;
  padding-left: 0;
}

nav {
  font-family: 'Questrial', sans-serif;
}

ul li  {
  background: linear-gradient(to bottom, rgba(0,128,0,.60), 85%, transparent);
  border-left: solid darkblue 1px;
  text-align: center;
  border-radius: .5em;
}

a {
  display: block;
  color: gold;
  text-decoration: none;
  padding: 8px 15px 8px 15px;
  margin: 0;
}

main {
  margin-bottom: 100px;
  max-width: 960px;
}

img {
  image-orientation: from-image;
}

footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, cornsilk, 25%, transparent),
              url('img/gardening.jpg');
  padding: 30px;
  background-position: top;
  background-size: cover;
  /* margin-top: 100px; */
  color: gold;
}


/* ------------------------------------ END ELEMENT SELECTORS -------------------------------------------- */

/* ------------------------------------ FONTS ------------------------------------------------------------ */

h1,
h2,
h3,
h4,
p {
  font-family: 'Questrial', sans-serif;
}




/* ------------------------------------ END FONTS -------------------------------------------- */

/* ------------------------------------ CLASS SELECTORS -------------------------------------------- */

.site-title {
  text-align: left;
  font-family: 'Playfair Display', serif;
  padding: 2px;
  width: 100%;
  color: white;
  text-shadow: 4px 4px 5px #333;
}

.main-title,
.title {
  text-align: center;
}

.primary-content {
  text-align: left;

}

.secondary-content {
  text-align: left;
}

.container {
  width: 95%;
  margin: 0 auto 100px auto;
}
/* ------------------------------------ END CLASS SELECTORS -------------------------------------------- */
/* ------------------------------------ HOVER RULES -------------------------------------------- */

a:hover {
  color: yellow;
}

ul li:hover {
  transform: scale(1.1);
  background: forestgreen;
}

li:hover {
  background-color: rgba(0, 155, 0, .40);
}

/* ------------------------------------ MEDIA QUERIES -------------------------------------------- */

@media (min-width: 500px){
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 5%;
  }

  .main-title {
    margin: auto;
    padding-left: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
  }
  
  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

}
@media (min-width: 740px){
/* COLUMNS DISPLAY */
 /* .col {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  vertical-align: top;
} */
.gallery  {
  display: flex;
  justify-content: center;
  /* overflow: scroll; */
 
}
.gallery img {
  width: 90%;
  
  border-radius: 5px;
}
.gallery img:hover {
  filter: none;
  transition: transform .5s;
  transform: scale(1.1);
  /* border: solid 1px skyblue; */
  /* box-shadow: 0 10px 10px gray; */
 
}
.ex {
  margin-bottom: 2%;
}
} 








/* ------------------------------------ COLUMNS DISPLAY -------------------------------------------- */
/* .col {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  vertical-align: top;
} */
/* ID Selectors  */

/* #philodendron {
  width: 80%;
  display: block;
  margin-bottom: 1.876em;
  /* border: solid darkblue 2px; */
  /* border-radius: 20px;
  box-shadow: 0px 15px 20px 0px #222;
  clear: both;
  margin-left: auto;
  margin-right: auto;
} 
*/
/* 
#aloevera {
  width: 80%;
  /* border: solid darkblue 2px; */
  /* border-radius: 20px;
  box-shadow: 0px 15px 20px 0px #222;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
} */

/* ------------------------------------ END COLUMNS DISPLAY -------------------------------------------- */